#bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('/static/img/TriMet_bus_stop-2.jpg');
    background-repeat: no-repeat;

}



.mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


.title {
    display: flex;
    /*flex-direction: column;*/
    align-self: flex-end;

}

#map {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border-style: solid;
    border-width: 3px;
    margin: 5px;
    height: 500px;
    width: 50%;
 }


 /* ----slider instruction---- */
h4 {
    display: flex;
    align-self: flex-start;
    margin: 70px;
}

/*  ----slider---- */

#custom-handle {
    width: 4em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

 #slider{
     width: 90%;
     margin: 5px auto;

}


/*!* ----table---- *!*/
/*.table {*/


/*}*/
