#bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}



.mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.title {
    display: flex;
    flex-direction: column;
    align-self: center;

}

#map {
     display: flex;
     flex-direction: column;
     align-self: center;
     height: 500px;
     width: 90%;
 }


/*instruction for slider*/
instructions {
    display: flex;


}

/*  ----slider---- */

#custom-handle {
    width: 4em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

 #slider{
     width: 90%;
     margin: 5px auto;

}


/* ----table---- */
.table {


}
